@{
    ViewBag.Title = "Index";
    ViewBag.Description = "Home Page";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">iCheck - Checkbox &amp; Radio Inputs</h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <div>
                <input type="checkbox" class="form-control" checked="checked"> Checkbox
            </div>
            <div>
                <input type="checkbox" class="form-control"> Checkbox
            </div>
            <div>
                <input type="checkbox" class="form-control" disabled="disabled"> Disabled Checkbox
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="radio" class="form-control" checked="checked"> Radio Button
            </div>
            <div>
                <input type="radio" class="form-control"> Radio Button
            </div>
            <div>
                <input type="radio" class="form-control" disabled="disabled"> Disabled Radio Button
            </div>
        </div>
    </div>
</div>